footer {
  background: var(--gradient-2);
  box-shadow: var(--shadow-4);
  border-radius: var(--radius-2);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
}
